<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='logo.ico') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pantry Tracker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main_styles.css') }}">
</head>
<body>
    <header class="header">
        <img src="{{ url_for('static', filename='logo.jpg') }}" alt="Pantry Tracker Logo">
        <nav class="navbar">
            <ul>
                <li><a href="#intro">Intro</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#features">Features</a></li>
                <li><a href="#contact">Contact</a></li>
                <li><a href="{{ url_for('manage') }}">Manage Pantry Items</a></li>
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section id="intro">
            <h2>INTRODUCTION</h2>
            <p>Welcome to Pantry Insight! Our application is designed to help you manage your pantry effortlessly. Whether you're restocking your shelves, checking what's running low, or planning your next grocery trip, Pantry Tracker is here to make the process smooth and efficient. With our user-friendly interface, you can add, remove, and update items with just a few clicks.</p>
        </section>
        <section id="about">
            <h2>ABOUT</h2>
            <p>At Pantry Insight, we understand the importance of an organized pantry. Our mission is to help you maintain a well-stocked kitchen with minimal effort. Our application is designed with simplicity and usability in mind, making it accessible for everyone. Whether you're a busy parent, a culinary enthusiast, or someone who just wants to keep things in order, Pantry Tracker is here to help you stay on top of your pantry management.

                We continuously strive to enhance our application with features that make your life easier. Your feedback is invaluable in helping us improve and provide the best possible experience.</p>
        </section>
        <section id="features">
            <h2>FEATURES</h2>
            <ul>
                <li>Effortless Item Management: Easily add, remove, or update items in your pantry with our intuitive interface. Keep your inventory up-to-date without any hassle.</li>
                <li>Quick Search and Filter: Find exactly what you're looking for in seconds. Our powerful search and filter functionalities help you locate items swiftly.</li>
                <li>Quantity Tracking: Keep track of how much you have of each item. Our app helps you monitor stock levels so you never run out of essentials.</li>
                <li>Low Stock Notifications: Receive timely notifications when items are running low. Stay ahead of your pantry needs and avoid last-minute grocery trips.</li>
                <li>Recipe Suggestions: Get recipe ideas based on the items you have in your pantry. Make the most of your ingredients and discover new dishes.</li>
                <li>Expiration Date Alerts: Keep track of expiration dates and receive alerts to use items before they go bad, reducing waste.</li>
            </ul>
        </section>
        <section id="contact">
            <h2>CONTACT</h2>
            <p>Have any questions or feedback? Reach out at <a href="mailto:deepikaprabhakaran11@gmail.com">support@pantrytracker.com</a>.</p>
        </section>
    </main>
    <footer>
        <ul>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Terms of Service</a></li>
        </ul>
        <p>&copy; 2024 Pantry Tracker By DEEPIKA</p>
    </footer>
</body>
</html>
