<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Pantry Items</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header class="header">
        <img src="{{ url_for('static', filename='images/logo.jpg') }}" alt="Pantry Tracker Logo">
        <h1>Manage Pantry Items</h1>
        <button onclick="window.location.href='{{ url_for('index') }}'">Back to Homepage</button>
    </header>
    <main>
        <section id="manage">
            <form id="pantry-form" method="post" action="{{ url_for('manage') }}">
                <input type="text" name="item_name" id="item-name" placeholder="Item Name" required>
                <input type="number" name="item_quantity" id="item-quantity" placeholder="Quantity" required>
                <button type="submit">Add/Update Item</button>
            </form>
            <ul id="pantry-list">
                {% for item in items %}
                <li>{{ item['name'] }}: {{ item['quantity'] }}</li>
                {% endfor %}
            </ul>
        </section>
    </main>
</body>
</html>
