<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup - Pantry Tracker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/logo.jpg') }}" type="image/x-icon">
</head>
<body>
    <header>
        <img src="{{ url_for('static', filename='images/logo.jpg') }}" alt="Pantry Tracker Logo" class="logo">
        <nav>
            <a href="{{ url_for('index') }}">Home</a>
        </nav>
    </header>

    <section>
        <h1>Sign Up</h1>
        <form id="signupForm" method="post" action="{{ url_for('signup') }}">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <button type="submit">Sign Up</button>
        </form>
        <p>Already have an account? <a href="{{ url_for('login') }}">Login</a></p>
    </section>
</body>
</html>
